<launch>
    <arg name="robot_name"/>
    <arg name="robot_type"/>
    <arg name="init_pose"/>

    <param name="robot_description_$(arg robot_name)" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg robot_type).urdf.xacro" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -urdf -param robot_description_$(arg robot_name) -model $(arg robot_name)"
     respawn="false" output="screen" />

</launch>
