<launch>

    <!-- Launch each of the robots one by one.
    This includes spawning the robots in Gazebo and setting up
    the correct transforms and remapping of topics.
    -->


    <!-- POLICE 1 -->
    <group ns="police1">
    <param name="tf_prefix" value="police1" />
    <include file="$(find exercises)/robot-chase/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_name"  value="police1" />
      <arg name="robot_type"  value="burger_blue" />
    </include>
    </group>

    <include file="$(find exercises)/robot-chase/launch/state_tf_setup.launch" >
      <arg name="robot_name"  value="police1" />
      <arg name="robot_type"  value="burger_blue" />
    </include>



    <!-- POLICE 2 -->
    <group ns="police2">
    <param name="tf_prefix" value="police2" />
    <include file="$(find exercises)/robot-chase/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y 1 -z 0" />
      <arg name="robot_name"  value="police2" />
      <arg name="robot_type"  value="burger_blue" />
    </include>
    </group>

    <include file="$(find exercises)/robot-chase/launch/state_tf_setup.launch" >
      <arg name="robot_name"  value="police2" />
      <arg name="robot_type"  value="burger_blue" />
    </include>



   <!-- POLICE 3 -->
    <group ns="police3">
    <param name="tf_prefix" value="police3" />
    <include file="$(find exercises)/robot-chase/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="police3" />
      <arg name="robot_type"  value="burger_blue" />
    </include>
    </group>

    <include file="$(find exercises)/robot-chase/launch/state_tf_setup.launch" >
      <arg name="robot_name"  value="police3" />
      <arg name="robot_type"  value="burger_blue" />
    </include>



    <!-- BADDIE 1 -->
    <group ns="baddie1">
    <param name="tf_prefix" value="baddie1" />
    <include file="$(find exercises)/robot-chase/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y -1 -z 0" />
      <arg name="robot_name"  value="baddie1" />
      <arg name="robot_type"  value="burger_red" />
    </include>
    </group>

    <include file="$(find exercises)/robot-chase/launch/state_tf_setup.launch" >
      <arg name="robot_name"  value="baddie1" />
      <arg name="robot_type"  value="burger_red" />
    </include>




   <!-- BADDIE 2 -->
    <group ns="baddie2">
    <param name="tf_prefix" value="baddie2" />
    <include file="$(find exercises)/robot-chase/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y -1 -z 0" />
      <arg name="robot_name"  value="baddie2" />
      <arg name="robot_type"  value="burger_red" />
    </include>
    </group>

    <include file="$(find exercises)/robot-chase/launch/state_tf_setup.launch" >
      <arg name="robot_name"  value="baddie2" />
      <arg name="robot_type"  value="burger_red" />
    </include>

    <!-- BADDIE 3 -->
    <group ns="baddie3">
    <param name="tf_prefix" value="baddie3" />
    <include file="$(find exercises)/robot-chase/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y -1 -z 0" />
      <arg name="robot_name"  value="baddie3" />
      <arg name="robot_type"  value="burger_red" />
    </include>
    </group>

    <include file="$(find exercises)/robot-chase/launch/state_tf_setup.launch" >
      <arg name="robot_name"  value="baddie3" />
      <arg name="robot_type"  value="burger_red" />
    </include>




</launch>
